{% extends "layout.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% from "_formhelpers.html" import render_field %}
{% block headercss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maplibre/maplibre-gl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

{% endblock %}
{% block body %}
<div class="container">
    <!-- Example row of columns -->
    {% if op['status'] == 1 %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <h3><i class="bi bi-tree"></i>&nbsp;{{ gettext('Draw Trees') }} <small class="text-muted"></small></h3>
            <p class="text-muted">{{ gettext('Draw new trees by dropping points on a map and submit to be added to a Geodesignhub project') }}</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div>               
                <h6>{{ gettext('Analytical Layers') }}&nbsp;<small class="text-muted">{{ gettext('Pre-computed layers for the area') }}</small>
                </h6>
            </div>
        </div>
    </div>
    <br>                                
    <div class="row">
        <div class="col-md-12">            
            <div id="listing-group" class="btn-group" role="group" aria-label="Layer selection tools">
                {% for wms_layer in op['wms_layers'] %}
                    <input type="checkbox" class="btn-check" id="{{wms_layer['dom_id']}}" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="{{wms_layer['dom_id']}}">{{ wms_layer['name']}}</label>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div id="map"></div>
    <br>    
    
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p>{{op['message']}} </p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <h6>{{ gettext('Drawing Tools') }}&nbsp;<small class="text-muted">{{ gettext('Use the buttons below to draw trees') }}</small></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" onclick="tree_editing_control.add_tree()" class="btn btn-outline-secondary">{{ gettext('Add Trees') }}</button>
                <button type="button" onclick="tree_editing_control.drawing_complete()" class="btn btn-outline-secondary">{{ gettext('Complete Drawing') }}</button>
                <button type="button" onclick="tree_editing_control.move_trees()" class="btn btn-outline-secondary">{{ gettext('Move existing trees') }}</button>
                <button type="button" onclick="tree_editing_control.delete_tree()" class="btn btn-outline-secondary">{{ gettext('Delete all trees') }}</button>&nbsp;
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addDiagramModal">{{ gettext('Add as a diagram') }}</button>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addDiagramModal" tabindex="-1" aria-labelledby="addDiagramModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="addDiagramModalLabel">Add a diagram</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    {{ render_form(form) }}
     
            </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        </div>
    </div>


</div>
<!-- /container -->
{% endblock %}

{% block footer %}

{% if op['status'] == 1 %}
<script type="text/javascript" src="{{ url_for('static', filename='js/maplibre/maplibre-gl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/terra-draw.umd.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maplibre-gl-measures.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript">
    const project_detail = {{ op| safe }};
    var bounds = project_detail['project_data']['bounds']['bounds'];
    var center = project_detail['project_data']['center']['center'];
    var map_center = center.split(',');
    var map_center_lat = map_center[0];
    var map_center_lng = map_center[1];
    var latLngs = bounds.split(',');
    var southWest = new maplibregl.LngLat(latLngs[0], latLngs[1]);
    var northEast = new maplibregl.LngLat(latLngs[2], latLngs[3]);
    var bounds = new maplibregl.LngLatBounds(southWest, northEast);
    let existing_canopy_source = '{{op["trees_wms_url"]|safe}}';
    let satellite_source = '{{op["satellite_wms_url"]|safe}}';
    let wms_layers = project_detail['wms_layers'];
    // input nodes map
    let map = new maplibregl.Map({
        container: 'map', // container id  
        style:
            'https://api.maptiler.com/maps/streets/style.json?key={{op["maptiler_key"]}}',
        bounds: bounds,
        zoom: 10 // starting zoom
    });
    map.addControl(new maplibreGLMeasures.default({}), 'top-left');

    map.addControl(
            new maplibregl.NavigationControl({
                visualizePitch: true,
                showZoom: true,
                showCompass: true
            })
        );        
    document.getElementById('listing-group').addEventListener('change', function (e) {
        var handler = e.target.id;
        if (e.target.checked) {
            map.setLayoutProperty(handler, 'visibility', 'visible');
        } else {
            map.setLayoutProperty(handler, 'visibility', 'none');
        }
    });
    // Create Terra Draw
    const draw = new terraDraw.TerraDraw({
        adapter: new terraDraw.TerraDrawMapLibreGLAdapter({
            map: map,
            lib: maplibregl,
        }),
        modes: [new terraDraw.TerraDrawPointMode(), new terraDraw.TerraDrawRenderMode({ modeName: "render_trees" }),
        new terraDraw.TerraDrawSelectMode({
            flags: {
                arbitary: {
                    feature: {},
                },
                point: {
                    feature: {
                        draggable: true,
                    },
                },
            },
        }),],
    });
    
    draw.start();
    let TreeEditingFactory = function () {

        this.add_tree = function () {
            draw.setMode("point");
        }
        this.drawing_complete = function () {
            draw.setMode("render_trees");

        }
        this.move_trees = function () {            
            draw.setMode("select");
        }
        this.delete_tree = function () {
            draw.clear();
        }
        // this.move_trees = function(entries) {
        //     this.entries = entries;
        // }

    }
    let tree_editing_control = new TreeEditingFactory();


    map.on('load', function () {
        
        map.addSource('bike_pedestrian_roads', {
                // GeoJSON Data source used in vector tiles, documented at
                // https://gist.github.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d
                'type': 'geojson',
                'data': { "type": "FeatureCollection", "features": [] }
            });
            map.addLayer({
                'id': 'bike_pedestrian_roads',
                'type': 'line',
                'source': 'bike_pedestrian_roads',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#422518',
                    'line-width': 3,
                    'line-opacity': 0.7
                }
            });

        for (let index = 0; index < wms_layers.length; index++) {
            const wms_layer = wms_layers[index];
            let source_str = wms_layer.dom_id+"_source";
            map.addSource(source_str, {
                'type': 'raster',
                // use the tiles option to specify a WMS tile source URL
                // https://maplibre.org/maplibre-style-spec/sources/
                'tiles': [wms_layer['url']],
                'tileSize': 256
            });
            map.addLayer(
                {
                    'id': wms_layer['dom_id'],
                    'type': 'raster',
                    'source': source_str,
                    'paint': {}
                },
                'aeroway_fill'
            );
            
        }

    });
    const addDiagramModalEl = document.getElementById('addDiagramModal');
    addDiagramModalEl.addEventListener('shown.bs.modal', event => {
        const store_geojson = draw.getSnapshot();
        const geo_json_element = document.getElementById('drawn_geojson');
        geo_json_element.value = JSON.stringify(store_geojson);

    });
    
    document.addEventListener('DOMContentLoaded', () => {
        const room = project_detail.session_id;
        var source = new EventSource("{{ url_for('sse.stream') }}");
        source.addEventListener('roads_download_success', function (event) {
            var data = JSON.parse(event.data);
            // do what you want with this data
            let roads_key = data['roads_key'];
            let session_id = roads_key.split(':')[0]
            if (session_id === room) {
                // The message is for the current sesion, download the data...
                let roads_download_url = window.location.origin + '/get_downloaded_roads?roads_key=' + roads_key;
                get_downloaded_roads(roads_download_url);
            }
        }, false);
    });
</script>
{% endif %}

{% endblock %}