{% extends "layout.html" %}
{% block headercss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maplibre/maplibre-gl.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">

{% endblock %}
{% block body %}
<div class="container">
    <!-- Example row of columns -->
    {% if op['status'] == 1 %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="spinner" class="spinner-border text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h3>Shadow Analysis <small class="text-muted"></small></h3>            
            <p class="text-muted">By default the shadow is computed for August 6 at 10AM when radiation not strong</p>
            <br>
            <div id="map"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">           
            <div><label for="shadow_date_time">Select new (date and time):</label>
                <input type="datetime-local" id="shadow_date_time" name="shadow_date_time">
                <input type="submit" value="Update Shadows" onclick="return update_date_time();" />

            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-12">
            <div>
                {% if op.baseline_index_wms_url != '0' or op.trees_wms_url != '0' %}
                <h6>Analytical Layers&nbsp;<small class="text-muted">Pre-computed layers for the area</small></h6>                
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <div id="listing-group" class="btn-group" role="group" aria-label="Layer selection tools">
                {% if op.baseline_index_wms_url != '0' %}
                <input type="checkbox" class="btn-check" id="baseline_shadow_index" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="baseline_shadow_index">Shadow Index</label>
                {%endif %}
                {% if op.trees_wms_url != '0' %}
                <input type="checkbox" class="btn-check" id="trees_canopy" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="trees_canopy">Tree Canopy</label>
                {% endif %}
              
              </div>
        </div>
    </div>
    <br>
    <div id="shadow_stats" class="row d-none">
        <div class="col-md-6">
            <h4>
                <span id='total_roads'></span>
                <small class="text-muted">Total Roads (meters)</small>
            </h4>
        </div>
        <div class="col-md-6">
            <h4>
                <span id='shadowed_roads'></span>
                <small class="text-muted">Shadowed Roads (meters)</small>
            </h4>

        </div>
    </div>
    <br>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <p>{{op['message']}} </p>
        </div>
    </div>
    {% endif %}

    <br>
</div>
<!-- /container -->{% endblock %}

{% block footer %}

{% if op['status'] == 1 %}
<script type="text/javascript" src="{{ url_for('static', filename='js/maplibre/maplibre-gl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript">
    const diagram_detail = {{ op|safe }};

    const diagram_geojson = {{ op["diagram_geojson"]["geojson"]|safe }};
    var bounds = diagram_detail['project_data']['bounds']['bounds'];
    var center = diagram_detail['project_data']['center']['center'];
    var map_center = center.split(',');
    var map_center_lat = map_center[0];
    var map_center_lng = map_center[1];
    var latLngs = bounds.split(',');
    var southWest = new maplibregl.LngLat(latLngs[0], latLngs[1]);
    var northEast = new maplibregl.LngLat(latLngs[2], latLngs[3]);
    var bounds = new maplibregl.LngLatBounds(southWest, northEast);
    let baseline_shadow_index_source = '{{op["baseline_index_wms_url"]|safe}}';
    let existing_canopy_source = '{{op["trees_wms_url"]|safe}}';
    // input nodes map
    var map = new maplibregl.Map({
        container: 'map', // container id  
        style:
            'https://api.maptiler.com/maps/streets/style.json?key={{op["maptiler_key"]}}',
        bounds: bounds,
        zoom: 10 // starting zoom
    });

    document.getElementById('listing-group').addEventListener('change', function (e) {
        var handler = e.target.id;
        if (e.target.checked) {            
            map.setLayoutProperty(handler, 'visibility', 'visible');
        } else {
            map.setLayoutProperty(handler, 'visibility', 'none');
        }
    });

    function update_date_time() {
        let new_url = new URL(window.location.href);

        let date_time = new_url.searchParams.delete('date_time');
        const dateControl = document.querySelector('input[type="datetime-local"]');
        let new_date = dateControl.value;
        if (new_date) {
            new_url.searchParams.append('date_time', new_date);
            window.location.href = new_url;
        }
        return true;
    }

    map.on('load', function () {
        map.addSource('buildings', {
            // GeoJSON Data source used in vector tiles, documented at
            // https://gist.github.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d
            'type': 'geojson',
            'data': diagram_geojson
        });
        map.addSource('building_shadows', {
            // GeoJSON Data source used in vector tiles, documented at
            // https://gist.github.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d
            'type': 'geojson',
            'data': { "type": "FeatureCollection", "features": [] }
        });
        map.addSource('tree_canopy', {
            // GeoJSON Data source used in vector tiles, documented at
            // https://gist.github.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d
            'type': 'geojson',
            'data': { "type": "FeatureCollection", "features": [] }
        });
        map.addSource('bike_pedestrian_roads', {
            // GeoJSON Data source used in vector tiles, documented at
            // https://gist.github.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d
            'type': 'geojson',
            'data': { "type": "FeatureCollection", "features": [] }
        });
        if (baseline_shadow_index_source !=='0'){
            map.addSource('baseline_shadow_index_source', {
            'type': 'raster',
            // use the tiles option to specify a WMS tile source URL
            // https://maplibre.org/maplibre-style-spec/sources/
            
            'tiles': ['{{op["baseline_index_wms_url"]|safe}}'],
            'tileSize': 256
            });
            map.addLayer(
            {
            'id': 'baseline_shadow_index',
            'type': 'raster',
            'source': 'baseline_shadow_index_source',
            'paint': {}
            },
            'aeroway_fill'
            );
        }

        if (existing_canopy_source !=='0'){
            map.addSource('trees_canopy_source', {
            'type': 'raster',
            // use the tiles option to specify a WMS tile source URL
            // https://maplibre.org/maplibre-style-spec/sources/            
            'tiles': ['{{op["trees_wms_url"]|safe}}'],
            'tileSize': 256
            });

            map.addLayer(
            {
            'id': 'trees_canopy',
            'type': 'raster',
            'source': 'trees_canopy_source',
            'paint': {}
            }
            );
        }

        map.addLayer({
            'id': 'buildings-extrusion',
            'type': 'fill-extrusion',
            'source': 'buildings',
            'paint': {
                // See the MapLibre Style Specification for details on data expressions.
                // https://maplibre.org/maplibre-gl-js-docs/style-spec/expressions/

                // Get the fill-extrusion-color from the source 'color' property.
                'fill-extrusion-color': ['get', 'color'],

                // Get fill-extrusion-height from the source 'height' property.
                'fill-extrusion-height': ['get', 'height'],

                // Get fill-extrusion-base from the source 'base_height' property.
                'fill-extrusion-base': ['get', 'base_height'],

                // Make extrusions slightly opaque for see through indoor walls.
                'fill-extrusion-opacity': 0.5
            }
        });
        
        map.addLayer({
            'id': 'building_shadows',
            'type': 'fill',
            'source': 'building_shadows',
            'layout': {},
            'paint': {
                'fill-color': '#808080',
                'fill-opacity': 0.4
            }
        });
        map.addLayer({
            'id': 'bike_pedestrian_roads',
            'type': 'line',
            'source': 'bike_pedestrian_roads',
            'layout': {
                'line-join': 'round',
                'line-cap': 'round'
            },
            'paint': {
                'line-color': '#422518',
                'line-width': 3
            }
        });

        map.addControl(
            new maplibregl.NavigationControl({
                visualizePitch: true,
                showZoom: true,
                showCompass: true
            })
        );

    });

    function update_date_time() {
        let new_url = new URL(window.location.href);

        let date_time = new_url.searchParams.delete('date_time');

        const dateControl = document.querySelector('input[type="datetime-local"]');
        let new_date = dateControl.value;
        if (new_date) {
            new_url.searchParams.append('date_time', new_date);
            window.location.href = new_url;
        }
        return true;
    }

    function get_building_shadow(shadow_download_url) {

        fetch(shadow_download_url)
            .then((response) => {
                return response.json();
            })
            .then((shadow_data) => {
                let spinner_cont = document.getElementById('spinner');
                spinner_cont.classList.add('d-none');

                let shadows_to_render = shadow_data;
                map.getSource('building_shadows').setData(shadows_to_render);
            }).catch((error) => {

                console.log(error);

            });
    }

    function get_downloaded_roads(roads_url) {

        fetch(roads_url)
            .then((response) => {
                return response.json();
            })
            .then((roads_data) => {
                // let spinner_cont = document.getElementById('spinner');
                // spinner_cont.classList.add('d-none');

                let roads_to_render = roads_data;
                map.getSource('bike_pedestrian_roads').setData(roads_to_render);
            }).catch((error) => {

                console.log(error);

            });
    }

    function get_road_shadow_stats(roads_shadow_stats_url) {
        fetch(roads_shadow_stats_url)
            .then((response) => {
                return response.json();
            })
            .then((roads_shadow_data) => {
                let shadow_stats_cont = document.getElementById('shadow_stats');
                shadow_stats_cont.classList.remove('d-none');
                let total_roads = document.getElementById('total_roads');
                total_roads.innerHTML = roads_shadow_data['total_roads_kms'];

                let shadowed_roads = document.getElementById('shadowed_roads');
                shadowed_roads.innerHTML = roads_shadow_data['shadowed_kms']

            }).catch((error) => {

                console.log(error);

            });
    }
    

    document.addEventListener('DOMContentLoaded', () => {

        const room = diagram_detail.session_id;
        var source = new EventSource("{{ url_for('sse.stream') }}");

        source.addEventListener('gdh_shadow_generation_success', function(event) {

            var data = JSON.parse(event.data);
            // do what you want with this data
            let shadow_id_key = data['shadow_key'];
            let session_id = shadow_id_key.split(':')[0]
            if (session_id === room) {
                // The message is for the current sesion, download the data...
                let shadow_download_url = window.location.origin + '/gdh_generated_shadow?shadow_key=' + shadow_id_key;
                get_building_shadow(shadow_download_url);
            }
        }, false);

        source.addEventListener('roads_download_success', function (event) {
            var data = JSON.parse(event.data);
            // do what you want with this data
            let roads_key = data['roads_key'];
            let session_id = roads_key.split(':')[0]
            if (session_id === room) {
                // The message is for the current sesion, download the data...
                let roads_download_url = window.location.origin + '/get_downloaded_roads?roads_key=' + roads_key;
                get_downloaded_roads(roads_download_url);
            }
        }, false);


        source.addEventListener('roads_shadow_complete', function (event) {
            var data = JSON.parse(event.data);
            // do what you want with this data
            let roads_shadow_stats_key = data['roads_shadow_stats_key'];
            let session_id = roads_shadow_stats_key.split(':')[0]
            if (session_id === room) {
                // The message is for the current sesion, download the data...
                let roads_shadow_stats_url = window.location.origin + '/get_shadow_roads_stats?roads_shadow_stats_key=' + roads_shadow_stats_key;
                get_road_shadow_stats(roads_shadow_stats_url);
            }
        }, false);

    });
</script>
{% endif %}

{% endblock %}
