{% extends "layout.html" %} {% block body %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="mx-auto p-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Heat Response Dashboard</h2>
      <div class="summary">
        <p>This app provides insights and visualizations to help understand local climate responses. It aggregates data from various sources to present a comprehensive view of climate-related metrics and trends.</p>
      </div>
    </div>
  </div>
</div>
<!-- /container -->{% endblock %} {% block footer %} 
{% endblock %}