<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <title>Shadepoint: Heat response for your community</title>
    <!-- Bootstrap core CSS -->
    {% if CURRENT_LANGUAGE == 'en' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.rtl.min.css') }}">
    {% endif %}
    <link rel=stylesheet  type=text/css  href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flatty.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% block headercss %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Shadepoint</h4>
              <p class="text-white">{{ gettext('This is a plugin that uses') }}
                <a href="https://www.geodesignhub.com/api/" target="_blank">Geodesignhub API</a>
                {{ gettext('and algorithms to showcase shadow analysis and impacts for the key components of your design') }}.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Support</h4>
              <ul class="list-unstyled">
                <li><a href="https://github.com/geodesignhub/DesignShowcase" class="text-white">Github</a></li>
                {% for language in AVAILABLE_LANGUAGES.items() %}
                {% if CURRENT_LANGUAGE == language[0] %}
                <li>
                  <span class="text-light">{{ language[1] }}</span>
                </li>
                {% else %}
                <li>
                  <span class="">
                    <a href="{{ url_for('set_language', language=language[0]) }}">{{ language[1] }}</a>
                  </span>
                </li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>{{ gettext('Shadepoint') }}</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main>
      {% if op.view_details and 'synthesis_id' in op.view_details.keys() %}
      <div class="container">
        <br>
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link {%if op.view_details.view_type=='shadow'%}active{%endif%}" aria-current="page" href="/design_shadow/?apitoken={{op.view_details.api_token}}&cteamid={{op.view_details.cteam_id}}&synthesisid={{op.view_details.synthesis_id}}&projectid={{op.view_details.project_id}}">{{ gettext('Shadow Analysis') }}</a>
          </li>
          <!-- <li class="nav-item">
          <a class="nav-link {%if op.view_details.view_type=='flood'%}active{%endif%}"
            href="/design_flooding_analysis/?apitoken={{op.view_details.api_token}}&cteamid={{op.view_details.cteam_id}}&synthesisid={{op.view_details.synthesis_id}}&projectid={{op.view_details.project_id}}">{{ gettext('Local Flooding') }}</a>
        </li> -->
        </ul>
      </div>
      {% endif %}
    {% block body %}{% endblock %}
      <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="row">
            <div class="col-12 col-md">
              <p><img src="https://nbsapi.org/static/logo.png" style="max-height: 100px;" class="img-thumbnail" alt="..."></p>
              <p class="lead">Heat response and management for your community</p>
              <p>This application is compatible with the
                <a href="https://nbsapi.org">NBSAPI</a>, which allows for seamless data exchange and integration with various environmental and geospatial datasets to enhance the analysis and visualization capabilities of your projects.</p>
            </div>
          </div>
        </footer>
      </div>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/humane.min.js') }}"></script>
      {% block footer %} {% endblock %}
    </main>
  </body>
</html>
